div.home-image {
  background: url('file://localhost/Users/jameswilliamiii/rails_projects/etc_landing_page/img/loft.jpg') right center no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
  position:relative;
}
.uvp {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3.5rem;
  margin-top: 1.5em;
}
.learn-more {
  position:absolute;
  bottom:5%;
  left: 50%;
}
.learn-more a .fa-circle {
  color: rgba(255,255,255,0.3);
}
.learn-more a .fa-angle-down {
  color:white;
}
.main-points {
  background-color: #5A557E;
  padding: 20px;
}
.main-points .icon {
  margin: 20px 0;
  text-align: center;
}
.icon-title {
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px 0 0;
}
.detailed-points {
  padding:50px 0;
  text-align: center;
}
.detailed-points h2 {
  margin-bottom: 30px;
  color:#5A557E;
}
.detailed-points i {
  margin-right: 7px;
}
.white {
  color:white;
}
.center {
  text-align: center;
}
.button.cta {
  padding-top: 1.0rem;
  padding-right: 2.0rem;
  padding-bottom: 1.0rem;
  padding-left: 2.0rem;
  text-transform: uppercase;
}
.members {
  padding:50px 0;
  background-color: #5A557E;
  text-align: center;
}
.members h3 {
  color:white;
  margin-bottom: 30px;
}
.members img {
  max-height:45px;
}
.email-form {
  padding:50px 0;
}
footer {
  min-height: 200px;
  background-color: #333;
  color:white;
}

@media only screen and (max-width: 40em) {
  div.home-image {
    background: url('https://djtqzd3lvf9o2.cloudfront.net/images/teacher-girl.jpg') left top no-repeat;
    height: 400px;
    background-size: cover;
  }
  .uvp {
    font-size: 2.125rem;
    margin-top: 1.0em;
  }
}